@model LibraryMvc.Models.Shelf

@{
    ViewData["Title"] = "Create";
    bool checkSourse = ViewBag.CheckSource;
}

<h1>Create</h1>

<h4>Shelf</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Hight" class="control-label"></label>
                <input asp-for="Hight" class="form-control" />
                <span asp-validation-for="Hight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Width" class="control-label"></label>
                <input asp-for="Width" class="form-control" />
                <span asp-validation-for="Width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LibraryId" class="control-label"></label>
                <select asp-for="LibraryId" class ="form-control" asp-items="ViewBag.LibraryName"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @{
        if(checkSourse)
        {
            <a asp-controller="Libraries" asp-action="Details" asp-route-Id="@ViewBag.libId">Back to List</a>
        }
        else
        {
            <a asp-controller="Shelves" asp-action="Index">Back to List</a>

        }

    }
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
